doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Reset Password
    
    link(rel='stylesheet', href='./login.css')
  body
    nav.nav-bar
      a.logo(href='#')
        img(src='../img/50-505031_log-book-png-png-clip-art-transparent-books.png', alt='random')
        h1 ExpenseBook
      .end-links
        a.sign-in(href='./signup') SignUp
        a.sign-in(href='./login') SignIn
    .reset-password
      form(onsubmit='resetpassword(event)')
        p Please enter your email address for resestting your password
        hr
        input(type='text', name='email', placeholder='Email address')
        br
        br
        button(type='submit') Submit
    script(src='./password.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js', integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==', crossorigin='anonymous', referrerpolicy='no-referrer')